.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  background: #f2f2f2;
  color: #222222;
}

.Footer a {
  color: inherit;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
  max-width: 100%;
}